{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soumaya | Portfolio</title>
</head>
      <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      

<body>
    <header class="site-header">
    <h1 class="first-name">SOUMAYA </h1>
    <h1 class="second-name"> BOUMSISS</h1>
</header>

<div class="intro">
    <p class="greeting">Hello, I'm </p>
    <h2 class="first1-name">SOUMAYA</h2>
    <h2 class="last-name">BOUMSISS</h2>
    <p class="introduction">Back-end developer specializing in building robust 
        and secure web applications.<br> I turn complex problems into reliable solutions
         using Django, Python, and databases..<br> while continuously expanding my skills in cybersecurity.</p>
         <section id="projects">
            <a href="#projects" class="btn">See my projects</a>
            <a href="#contact" class="btn2">Contact Me</a>
         </section>
</div>
    <div class="projects">
        <h2 class="h2">My Projects</h2>
        <div class="projects-wrappers">
        <div class="wrapper1">
            <div class="project-card">
    <div class="card-image">
        <img src="{% static 'images/ToDoList.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>To Do List</h3>
        <p>A simple To-Do List app for adding,
             completing, and removing daily tasks.</p>

        <div class="tech-tags">
            <a>Html</a>
            <a>Css</a>
            <a>Django</a>
        </div>
    </div>
</div>

        </div>
        <div class="wrapper2">
            <div class="project-card">
            <div class="card-image">
        <img src="{% static 'images/White.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>Project Name</h3>
        <p>Project Description </p>

        <div class="tech-tags">
            <a>Html</a>
            <a>Css</a>
            <a>Django</a>
        </div>
    </div>
        </div>
        </div>
        <div class="wrapper3">
            <div class="project-card">
            <div class="card-image">
        <img src="{% static 'images/White.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>Project Name</h3>
        <p>Project Description</p>

        <div class="tech-tags">
            <a>Html</a>
            <a>Css</a>
            <a>Django</a>
        </div>
    </div>
        </div>
    </div>
    </div>
    </div>
    <div class="MySkills">
        <h2 class="h2">My Skills</h2>
        <div class="MySkills-wrappers">
        <div class="wrapper1"></div>
        <div class="wrapper2"></div>
        <div class="wrapper3"></div>
    </div>
    </div>
    <div class="MyCertifications">
        <h2 class="h2">My Certifications</h2>
       <div class="MyCertifications-wrappers">
        <div class="wrapper1">
            <div class="project-card">
    <div class="card-image">
        <img src="{% static 'images/White.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>Project Title</h3>
        <p>Short project description goes here.</p>

        <div class="tech-tags">
            <span>React</span>
            <span>Node.js</span>
            <span>MongoDB</span>
        </div>
    </div>
</div>

        </div>
        <div class="wrapper2">
            <div class="project-card">
    <div class="card-image">
        <img src="{% static 'images/White.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>Project Title</h3>
        <p>Short project description goes here.</p>

        <div class="tech-tags">
            <span>React</span>
            <span>Node.js</span>
            <span>MongoDB</span>
        </div>
    </div>
</div>
        </div>
        <div class="wrapper3">
            <div class="project-card">
    <div class="card-image">
        <img src="{% static 'images/White.png' %}" alt="Project preview">
    </div>

    <div class="card-content">
        <h3>Project Title</h3>
        <p>Short project description goes here.</p>

        <div class="tech-tags">
            <span>React</span>
            <span>Node.js</span>
            <span>MongoDB</span>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
<section id="contact">
<div class="ContactMe">
    <h2 class="h2">Contact Me</h2>

    <form class="wrapper1">
        <div class="input-box">
            <label for="name">Your Name</label>
            <input id="name" type="text" required>
        </div>

        <div class="input-box">
            <label for="email">Your Email</label>
            <input id="email" type="email" required>
        </div>

        <div class="input-box">
            <label for="message">Your Message</label>
            <textarea id="message" required></textarea>
        </div>

        <button type="submit">Send Message</button>
    </form>
    <h1 class="Contactinfo">Available</h1>
    <p class="paragraph">I am currently available for freelance projects.</p>
    <i class="bx bx-inbox"></i>
    <h1 class="Emailtitle">Email</h1>
    <h1 class="Email">soumayaboumsiss@gmail.com</h1>
    <h1 class="Phonetitle">Phone</h1>
    <h1 class="Phone">+212603132142</h1>
    <h1 class="Locationtitle">Location</h1>
    <h1 class="Location">Morocco</h1>

</div>
</section>

</body>
</html>